---
import Layout from '../layouts/Layout.astro';

const levels = [
  { w: 5, h: 5, help: true, label: 'Level 1', description: 'Very easy (5x5)' },
  { w: 5, h: 5, help: false, label: 'Level 2', description: 'Easy (5x5)' },
  { w: 10, h: 10, help: true, label: 'Level 3', description: 'Medium (10x10)' },
  { w: 10, h: 10, help: false, label: 'Level 4', description: 'Hard (10x10)' },
  { w: 15, h: 15, help: false, label: 'Level 6', description: 'Very Hard (15x15)' },
  { w: 20, h: 20, help: false, label: 'Level 7', description: 'Extreme (20x20)' }
];
---

<Layout>
  <div
    class="flex h-full w-full flex-col items-center justify-center"
    style={{
      backgroundImage: 'linear-gradient(#e5e7eb .1rem, transparent .1rem), linear-gradient(90deg, #e5e7eb .1rem, transparent .1rem)',
      backgroundSize: '4rem 4rem'
    }}
  >
    <div
      class="flex flex-col items-center justify-center border-gray-200 bg-white p-4 md:p-6 lg:p-8"
      style={{
        boxShadow: '0 0 12rem 12rem rgba(255, 255, 255, 1)'
      }}
    >
      <h1 class="text-center text-4xl font-bold text-gray-700 select-none md:text-6xl lg:text-8xl">Nonogram<span class="text-primary-600">.</span>pro</h1>

      <form class="mt-8 grid w-fit grid-cols-1 gap-4 text-center md:grid-cols-2 lg:grid-cols-3">
        {
          levels.map((level) => (
            <a href={`/play?w=${level.w}&h=${level.h}&help=${level.help}`} class="hover:bg-primary-600 focus:border-primary-500 focus:ring-primary-500 block w-full rounded-full bg-blue-500 px-4 py-3 text-base text-white shadow-md md:px-6 md:py-4 md:text-lg lg:px-8 lg:py-5 lg:text-xl">
              <span class="block font-semibold">{level.label}</span>
              <span class="block font-light md:text-sm lg:text-base">{level.description}</span>
            </a>
          ))
        }
      </form>
    </div>
  </div>
</Layout>
